In [2]:
from pandas import DataFrame, Series
import numpy as np
import pandas as pd

df = DataFrame({
    'key1': ['a', 'a', 'b', 'b', 'a'],
    'key2': ['one', 'two', 'one', 'two', 'one'],
    'data1': np.random.randn(5),
    'data2': np.random.randn(5)
})

df

  key1 key2     data1     data2
0    a  one -1.032198 -1.667580
1    a  two -1.782940  0.607700
2    b  one  0.471518  1.132479
3    b  two  0.242218  2.023747
4    a  one -0.722933  2.211509

In [3]:
grouped = df['data1'].groupby(df['key1'])

grouped

In [4]:
grouped.mean()

key1
a   -1.179357
b    0.356868
Name: data1, dtype: float64

In [6]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()
means

key1  key2
a     one    -0.877566
      two    -1.782940
b     one     0.471518
      two     0.242218
Name: data1, dtype: float64

In [7]:
means.unstack()

key2       one       two
key1
a    -0.877566 -1.782940
b     0.471518  0.242218

In [8]:
frame = DataFrame({
    'data1': np.random.randn(1000),
    'data2': np.random.randn(1000)
})


factor =  pd.cut(frame.data1, 4)

factor[:10]

0       (0.346, 1.84]
1     (-1.148, 0.346]
2       (0.346, 1.84]
3     (-1.148, 0.346]
4       (0.346, 1.84]
5       (0.346, 1.84]
6     (-1.148, 0.346]
7     (-1.148, 0.346]
8    (-2.648, -1.148]
9       (0.346, 1.84]
Name: data1, dtype: category
Categories (4, interval[float64]): [(-2.648, -1.148] < (-1.148, 0.346] < (0.346, 1.84] < (1.84, 3.333]]

In [9]:
def get_stats(group):
    return {
        'min': group.min(),
        'max': group.max(),
        'count': group.count(),
        'mean': group.mean()
    }

grouped = frame.data2.groupby(factor)

grouped.apply(get_stats).unstack()

                  count       max      mean       min
data1
(-2.648, -1.148]  126.0  2.366660 -0.089391 -2.189044
(-1.148, 0.346]   505.0  3.010882 -0.024205 -3.120295
(0.346, 1.84]     341.0  2.903806  0.003853 -3.949120
(1.84, 3.333]      28.0  1.769149 -0.033710 -1.478182

In [10]:
grouping = pd.qcut(frame.data1, 10, labels=False)

grouped = frame.data2.groupby(grouping)

grouped.apply(get_stats).unstack()

       count       max      mean       min
data1
0      100.0  2.140218 -0.087916 -2.189044
1      100.0  2.399182 -0.039417 -3.120295
2      100.0  3.010882 -0.089202 -2.500128
3      100.0  2.480194  0.161557 -2.701930
4      100.0  2.335100 -0.027526 -2.578736
5      100.0  2.448807 -0.214196 -2.832098
6      100.0  2.714845  0.096643 -2.711761
7      100.0  2.239721 -0.049126 -3.949120
8      100.0  1.843936  0.028906 -2.134242
9      100.0  2.903806 -0.010891 -2.362576